/*Limpando o css de qualquer estilização que tenha*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*global*/
@font-face {
    font-family:'montserrat';
    src: url('../font/MontserratAlternates-Light.otf')
}

html, body {
    font-family: 'montserrat'; /* é para pegar a familia da fonte, caso o navegador não seja compatível*/
    color: white; /* Cor da Fonte*/
    background-color: #101010;
}

li {
    list-style: none; /* Retirada do estilo*/
}
a {
    text-decoration: none; /* retirada dos link dos a*/
    transition:.5s; /*tempo de ida a uma página*/
}

/*container*/
.container {
    width: 100%; /* largura em 100% da página*/
    height: auto; /*para altura se adaptar a página automaticamente*/

}
.topo {
    width: 100%;
    height: 70vh;
    background-image: url('../img/bgTopo.png'); /*Chamada da img*/
    background-size: cover; /*Adaptação da img na página*/
    background-position: center; /*Posição da imagem centralizada*/
    background-attachment: fixed;/* imagem ficará fixa*/
}
.topoC {
    text-align: center; /* alinhamento de todos os itens ao centro*/
}

.logo {
    position: absolute; /**/
    left: 2vh; /*alinhou o logo a esquerda*/
    top: 2vh; /* deixa proximo ou longe do topo*/
    height: 10vh; /*altura do logo*/
}
.img1 {
    position: absolute; /**/
    top: 5vh; /**/
    right: 2vh; /**/
    height: 90vh; /**/
    filter: drop-shadow(2px 4px 5px #101010); /**/
    z-index: 99; /**/
}
.contLateral {
    position:absolute;
    width: 20%;
    height: auto;
    top: 10vh;
    left: 20vh;
}
.contLateral li {
    padding: 2vh;
}
.contLateral p {
    padding: 2vh 4vh;
}
.main {
    background-color: #202020;
    width: 100%;
    height: auto;
}
.mainC {
    background-color: #202020;
    width: 100%;
    height: auto;
    padding: 10em 2em;
    display: flex;/**/
    flex-direction: row;/**/
    justify-content: space-around;/**/
}
.card {
    flex-basis:30% ; /* espaçamento entre as fileiras*/
    text-align: center; /*centralização das fileiras*/
} 

.card li:first-child{
    position: relative;
    background-color: #101010;
    height: 30vh;
    text-align: center;
    margin: 20px;
}
.card li h2{
    line-height: 20vh;
    padding: 6vh;
}
.card li:last-child {
    position: relative;
    background-color: #fff;
    color: #101010;
    height: 30vh;
    line-height: 30vh;
    text-align: center;
    margin: -2vh 2vh;
}
.card li p{
    line-height: 2vh;
    padding: 6vh;
}
.logoWhats{
    position: fixed;
    height: 5vh;
    right: 5vh;
    top: 90vh;
    z-index: 100;
    opacity: .5;
    transition: .5s;          
}
.logoWhats:hover{
    opacity: 1;
    transition: .5s;
}
.contact{
    background-image: url('../img/bgContato.png.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    padding: 2vh;

}
.contactC{
    width: 70%;
    height: auto;
    text-align: center;
    padding: 5vh;
    margin: 0 auto;
}
.contactC input[type=text],
.contactC input[type=email]{
    width: 50%;
    height: 5vh;
    line-height: 5vh;
    color: #333;
    padding: 2vh;
    border-radius: 10px;
    margin: 2vh;
    border: 1 px solid #333;
    background-color: #e1e1e1;
}
.contactC input[type=textarea]{
    width: 50%;
    height: 10vh;
    line-height: 5vh;
    color: #333;
    padding: 2vh;
    border-radius: 10px;
    margin: 2vh;
    border: 1 px solid #333;
    background-color: #e1e1e1;
}
.h1{
    padding: 2vh;
}
.contactC input[type=submit]{
    border: none;
    background-color: white;
    color: #202020;
    font-size: 1em;
    padding: 1em 2em;
    margin: 1vh;
    transition: .5s;
}
.contactC input[type=submit]:hover{
    background-color: #272727;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    transition: .5s;
}
.contactC li p {
    width: 50%;
    margin: 1vh auto;
}
.contactC input[type=checkbox]{
    margin-right: 10px;
}
.footer{
    background-color: black;
    width: 100%;
    height: 20vh;
}
.footerC{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footerC li{
    flex-basis: 30%;
    height: 20vh;
    line-height: 20vh;
    text-align: center;
}
.footerC img{
    width: 50%;
    height: auto;
    opacity: .8;
    margin-top: 5vh;
} 